@model test03.Models.MenuItems

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this menu item?</h3>

<div>
    <h4>Menu Item Details</h4>
    <hr />

    <!-- Display the image if available -->
    @if (!string.IsNullOrEmpty(Model.ImageFileName))
    {
        <div>
            <h5>Image:</h5>
            <img src="@Url.Content("~/Images/MenuItems/" + Model.ImageFileName)" alt="Image of @Model.Name" style="width: 150px; height: auto;" />
        </div>
    }

    <!-- Display the menu item details -->
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>

    <!-- Delete confirmation form -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Item" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
