@model IEnumerable<test03.Models.MenuItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th>
            Image
        </th> <!-- New column for image -->
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageFileName))
                {
                    <img src="@Url.Content("~/Content/Images/MenuItems/" + item.ImageFileName)" alt="@item.Name" width="100" />
                }
                else
                {
                    <span>No Image</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MenuItemID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MenuItemID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MenuItemID })
            </td>
        </tr>
    }

</table>
