@model IEnumerable<test03.Models.Orders>

@{
    ViewBag.Title = "Orders List";
}

<h2>Orders List</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderID)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationID)</th>
            <th>@Html.DisplayNameFor(model => model.TotalAmount)</th>
            <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td> <!-- Display OrderID -->
                <td>@order.ReservationID</td>
                <td>@order.TotalAmount</td>
                <td>@order.OrderDate</td>
                <td>@order.Status</td>
            </tr>
        }
    </tbody>
</table>
