@model test03.Models.Reservations

@{
    ViewBag.Title = "Create Reservation";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Create a Reservation</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <!-- Customer Selection -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.CustomerID, "Customer", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("CustomerID", null, "Select Customer", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                        </div>

                        <!-- Reservation Date -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReservationDate, "Reservation Date", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.ReservationDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
                        </div>

                        <!-- Reservation Time -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReservationTime, "Reservation Time", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.ReservationTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                            @Html.ValidationMessageFor(model => model.ReservationTime, "", new { @class = "text-danger" })
                        </div>

                        <!-- Number of Guests -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.NumberOfGuests, "Number of Guests", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.NumberOfGuests, new { htmlAttributes = new { @class = "form-control", type = "number", min = 1 } })
                            @Html.ValidationMessageFor(model => model.NumberOfGuests, "", new { @class = "text-danger" })
                        </div>

                        <!-- Table Number -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.TableNumber, "Table Number", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.TableNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TableNumber, "", new { @class = "text-danger" })
                        </div>

                        <!-- Status -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>

                        <!-- Special Instructions -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.SpecialInstructions, "Special Instructions", htmlAttributes: new { @class = "form-label" })
                            @Html.TextAreaFor(model => model.SpecialInstructions, new { @class = "form-control", rows = 3 })
                            @Html.ValidationMessageFor(model => model.SpecialInstructions, "", new { @class = "text-danger" })
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Create Reservation</button>
                        </div>
                    }
                </div>
            </div>
            <div class="mt-3 text-center">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
