@model IEnumerable<test03.Models.Reservations>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Reservation ID</th>
            <th>Customer</th>
            <th>Reservation Date</th>
            <th>Reservation Time</th>
            <th>Number of Guests</th>
            <th>Table Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReservationID</td>
                <td>@item.Customers.FirstName @item.Customers.LastName</td>
                <td>@item.ReservationDate.ToString("d")</td>
                <td>@item.ReservationTime.ToString("t")</td>
                <td>@item.NumberOfGuests</td>
                <td>@item.TableNumber</td>
                <td>@item.Status</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
                </td>
            </tr>
        }
    </tbody>
</table>
